<template>
  <div
    :style="{
      width: '120px',
      height: '120px',
    }"
    class="flex align-items justify-center transparency-grid"
  >
    <canvas
      ref="canvas"
      :width="sizex"
      :height="sizey"
      style="max-width: 100%; max-height: 100%"
      class="self-center"
    ></canvas>
  </div>
</template>

<script setup>
import * as AnimationHelper from "../helpers/AnimationHelper";

const props = defineProps({
  animation: Object,
  sizex: Number,
  sizey: Number,
});

const state = ref({
  animator: null,
});

const canvas = ref(null);

watch(
  () => [props.animation, props.sizex, props.sizey],
  async ([anim, sx, sy]) => {
    if (state.animator) {
      state.animator.stop();
    }
    if (canvas.value) {
      state.animator = await AnimationHelper.animate(
        anim,
        canvas.value,
        sx,
        sy
      );
    }
    if (state.animator) {
      state.animator.start();
    }
  },
  { deep: true, immediate: true }
);

onMounted(async () => {
  if (canvas.value) {
    state.animator = await AnimationHelper.animate(
      props.animation,
      canvas.value,
      props.sizex,
      props.sizey
    );
    state.animator.start();
  }
});
</script>

<style></style>
