<template>
  <div class="rounded bg-gray-500 p-4 mb-4">
    <div v-if="!animation.type">
      <h3 class="text-green-200">New animation</h3>
      <pld-select
        :items="types"
        item-text="name"
        label="Pick animation type"
        item-value="id"
        v-model="animation.type"
      />
    </div>
    <div v-else>
      <div class="flex">
        <button
          class="
            rounded-full
            bg-blue-200
            hover:bg-blue-400
            handle
            cursor-move
            self-center
          "
          :style="{ width: '24px', height: '24px' }"
        ></button>
        <h3 class="text-green-100 inline">
          <span class="self-center mr-4 ml-2">
            Animation of type {{ getTypeName(animation.type) }}
          </span>
        </h3>
        <button
          class="
            text-sm
            rounded-full
            bg-red-600
            px-4
            py-1
            hover:bg-red-400
            text-white
            self-center
          "
          @click="remove"
        >
          Delete
        </button>
      </div>
      <div class="flex">
        <div class="flex-grow">
          <AnimationWrapper :animation.sync="animation" />
        </div>
        <div>
          <Animate :animation="animation" :sizex="sizex" :sizey="sizey" />
        </div>
      </div>
      <div>
        <draggable
          v-if="animation.transformations"
          v-model="animation.transformations"
          group="transformations"
          item-key="id"
        >
          <template #item="{ element, index }">
            <transformation
              :transformation="element"
              :animation="animation"
              @remove="removeTransformation(index)"
            ></transformation>
          </template>
        </draggable>
        <pld-button
          small
          @click="addTransformation"
          label="Add transformation"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import AnimationWrapper from "./animations/AnimationWrapper.vue";
import Transformation from "./Transformation.vue";
import draggable from "vuedraggable";

const props = defineProps({
  animation: {
    type: Object,
    default: () => ({}),
  },
  sizex: Number,
  sizey: Number,
});

const emit = defineEmits(["remove"]);

const types = [
  { name: "Resize", id: "resize" },
  { name: "Rotate", id: "rotate" },
  {
    name: "From an existing animation",
    id: "existing_animation",
  },
  {
    name: "Translate sprites of an existing animation",
    id: "translate",
  },
  {
    name: "Import an image in the spritesheet",
    id: "import_image",
  },
];

function getType(id) {
  let t = types.find((tt) => tt.id === id);
  return t;
}

function getTypeName(id) {
  let t = getType(id);
  return (t && t.name) || id;
}

function remove() {
  if (confirm("Are you sure to delete this animation ?")) {
    emit("remove");
  }
}

function addTransformation() {
  if (!props.animation.transformations) props.animation.transformations = [];
  props.animation.transformations.push({});
}

function removeTransformation(idx) {
  if (
    props.animation.transformations &&
    props.animation.transformations.length > idx &&
    idx > -1
  ) {
    props.animation.transformations.splice(idx, 1);
  }
}
</script>

<style></style>
