<template>
  <div class="text-center">
    <div
      :style="{
        width: '400px',
        height: '400px',
      }"
      class="flex align-items justify-center m-auto bg-gray-300 rounded"
    >
      <div
        class="transparency-grid self-center"
        :style="{
          'max-width': '400px',
          'max-height': '400px',
        }"
      >
        <canvas
          ref="canvashelper"
          :width="sizex"
          :height="sizey"
          class="self-center hidden"
        ></canvas>
        <canvas
          ref="canvas"
          :style="{
            'max-width': '400px',
            'max-height': '400px',
          }"
        ></canvas>
      </div>
    </div>
    <button
      class="rounded-full bg-green-600 px-4 py-1 hover:bg-green-400 mt-4"
      @click="download"
    >
      Download png
    </button>
  </div>
</template>

<script setup>
import * as AnimationHelper from "../helpers/AnimationHelper";

const props = defineProps({
  animations: Array,
  sizex: Number,
  sizey: Number,
  renderX: Number,
});

const canvas = ref(null);
const canvashelper = ref(null);

watch(
  () => [props.animations, props.sizex, props.sizey, props.renderX],
  async ([anims, sx, sy, rx]) => {
    let animators = [],
      nbTotalFrames = 0;
    for (let anim of anims) {
      let animator = await AnimationHelper.getAnimator(
        anim,
        canvashelper.value,
        sx,
        sy
      );
      if (animator && animator.nb && Number(animator.nb) > 0) {
        animators.push(animator);
        nbTotalFrames += Number(animator.nb);
      }
    }
    if (nbTotalFrames > 0) {
      let renderY = Math.floor(nbTotalFrames / rx);
      if (nbTotalFrames % rx > 0) renderY++;
      canvas.value.width = rx * sx;
      canvas.value.height = renderY * sy;
      let ctx = canvas.value.getContext("2d");
      ctx.clearRect(0, 0, rx * sx, renderY * sy);
      let currentpos = 0;
      for (let animator of animators) {
        for (let i = 0; i < animator.nb; i++) {
          animator.draw(i);
          // draw canvas on other canvas
          ctx.drawImage(
            canvashelper.value,
            0,
            0,
            sx,
            sy,
            (currentpos % rx) * sx,
            Math.floor(currentpos / rx) * sy,
            sx,
            sy
          );
          currentpos++;
        }
      }
    }
  },
  { deep: true }
);

function download() {
  var dt = canvas.value.toDataURL("image/png");
  const downloadLink = document.createElement("a");
  downloadLink.href = dt;
  let dat = new Date();
  downloadLink.download = `${dat.getFullYear()}-${(
    "00" + dat.getMonth()
  ).substr(-2)}-${("00" + dat.getDate()).substr(-2)}_${(
    "00" + dat.getHours()
  ).substr(-2)}:${("00" + dat.getMinutes()).substr(-2)}:${(
    "00" + dat.getSeconds()
  ).substr(-2)}_spritesheet.png`;
  document.body.appendChild(downloadLink);
  downloadLink.click();
  document.body.removeChild(downloadLink);
}
</script>

<style></style>
