<template>
  <div class="rounded p-4 bg-gray-100 text-gray-900 mb-4">
    <div v-if="!transformation.type">
      <h3 class="text-green-700">New transformation</h3>
      <pld-select
        :items="types"
        item-text="name"
        label="Pick transformation type"
        item-value="id"
        v-model="transformation.type"
      />
    </div>
    <div v-else>
      <div class="flex">
        <h3 class="text-green-700">
          <span class="self-center mr-4">
            Transformation of type {{ getTypeName(transformation.type) }}
          </span>
        </h3>
        <button
          class="
            text-sm
            rounded-full
            bg-red-600
            px-4
            py-1
            hover:bg-red-400
            text-white
            self-center
          "
          @click="remove"
        >
          Delete
        </button>
      </div>
      <TransformationWrapper
        :transformation="transformation"
        :animation="animation"
      />
    </div>
  </div>
</template>
<script setup>
import TransformationWrapper from "./transformations/TransformationWrapper.vue";
const props = defineProps({
  transformation: Object,
  animation: Object,
});
const emit = defineEmits(["remove"]);

const types = [
  { name: "Padding", id: "padding" },
  { name: "Rotate colors", id: "hueshift" },
];

function getType(id) {
  let t = types.find((tt) => tt.id === id);
  return t;
}

function getTypeName(id) {
  let t = getType(id);
  return (t && t.name) || id;
}

function remove() {
  if (confirm("Are you sure to delete this transformation ?")) {
    emit("remove");
  }
}
</script>
