<template>
  <div class="flex">
    <div class="mt-2 self-center">
      Pick color to rotate
      <span
        :style="{
          width: '32px',
          height: '32px',
          'background-color': transformation.color,
        }"
        class="
          inline-block
          align-middle
          border-2 border-green-400
          cursor-pointer
        "
        @click="openPickcolor = true"
      ></span>
    </div>
    <pld-modal
      title="Pick a color to shift"
      v-model="openPickcolor"
      no-button
      @validate="transformation.color = clickedColor"
    >
      <div class="transparency-grid">
        <canvas
          width="400"
          height="400"
          ref="canvas"
          @mousemove="moveOnCanvas"
          @mousedown="clickOnCanvas"
        ></canvas>
      </div>
      <div class="mt-2">
        Current color under mouse (click to keep color) :
        <span
          :style="{
            width: '32px',
            height: '32px',
            'background-color': currentColor,
          }"
          class="inline-block align-middle"
        ></span>
      </div>

      <div class="flex mt-4">
        <div
          :style="{
            width: '32px',
            height: '32px',
            'background-color': clickedColor,
          }"
          class="self-center"
        ></div>
        <pld-text-field
          v-model="clickedColor"
          label="Hex color selected"
          class="self-center"
        />
      </div>
    </pld-modal>
    <pld-text-field
      v-model="transformation.tolerance"
      type="number"
      label="Tolerance (minimal percent of similarity)"
    />
    <pld-text-field
      v-model="transformation.hueshift"
      type="number"
      label="Hue shift (0 to 360 value, 180 is opposite color)"
    />
  </div>
</template>

<script setup>
import * as AnimationHelper from "../../helpers/AnimationHelper";

const props = defineProps({
  transformation: Object,
  animation: Object,
});

const openPickcolor = ref(false);

if (!props.transformation.color) props.transformation.color = null;
if (!props.transformation.tolerance) props.transformation.tolerance = 50;
if (!props.transformation.hueshift) props.transformation.hueshift = 180;

const canvas = ref(null);
const image = ref(null);

watch(
  () => [props.animation.image, canvas.value],
  async ([img]) => {
    image.value = await AnimationHelper.getImage(img);
    drawImage(image.value);
  },

  { immediate: true }
);

function drawImage(img) {
  if (img && canvas.value) {
    let baseresize = 1;
    if (img.width / 400 < img.height / 400) {
      baseresize = 400 / img.height;
    } else {
      baseresize = 400 / img.width;
    }
    // draw sprite i on canvas
    let ctx = canvas.value.getContext("2d");
    ctx.clearRect(0, 0, 400, 400);
    ctx.drawImage(
      img,
      0,
      0,
      img.width,
      img.height,
      400 / 2 - (img.width * baseresize) / 2,
      400 / 2 - (img.height * baseresize) / 2,
      img.width * baseresize,
      img.height * baseresize
    );
  }
}

const currentColor = ref(null);
const clickedColor = ref(null);
function getColorAtPoint(x, y) {
  if (canvas.value) {
    let ctx = canvas.value.getContext("2d");
    var c = ctx.getImageData(x, y, 1, 1).data;
    let rgb = (c[0] << 16) | (c[1] << 8) | (c[2] << 0);
    return "#" + (0x1000000 + rgb).toString(16).slice(1);
  } else {
    return null;
  }
}
function moveOnCanvas(event) {
  currentColor.value = getColorAtPoint(event.offsetX, event.offsetY);
}
function clickOnCanvas(event) {
  clickedColor.value = getColorAtPoint(event.offsetX, event.offsetY);
}
</script>

<style></style>
