<template>
  <p class="text-sm">
    Applied in pixels on the resulting size of sprite. Applied proportionally on
    the input image
  </p>
  <div class="flex">
    <pld-text-field
      label="Left"
      small
      type="number"
      v-model="transformation.left"
    />
    <pld-text-field
      label="Top"
      small
      type="number"
      v-model="transformation.top"
    />
    <pld-text-field
      label="Right"
      small
      type="number"
      v-model="transformation.right"
    />
    <pld-text-field
      label="Bottom"
      small
      type="number"
      v-model="transformation.bottom"
    />
  </div>
</template>

<script setup>
const props = defineProps({
  transformation: Object,
});

if (!props.transformation.left) props.transformation.left = 20;
if (!props.transformation.top) props.transformation.top = 20;
if (!props.transformation.bottom) props.transformation.bottom = 20;
if (!props.transformation.right) props.transformation.right = 20;
</script>

<style></style>
