<template>
  <div>
    <div class="m-5">
      <h1 class="text-2xl text-green-400 font-bold">Sprite generator</h1>
      <div class="flex text-sm text-green-600 align-items">
        <div class="inline self-center" v-if="!editName">
          <span v-if="spritesheet.currentName"
            >{{ spritesheet.currentName }}
            <span
              class="
                text-italic
                rounded
                bg-yellow-600
                text-xs
                p-1
                px-2
                text-white
                mx-2
              "
              v-if="spritesheet.updated"
              >Updated</span
            >
          </span>
          <span v-else>Unsaved spritesheet</span>
        </div>
        <div class="inline self-center" v-else>
          <pld-text-field
            v-model="spritesheet.currentName"
            label="Name of spritesheet"
          />
        </div>
        <div class="self-center">
          <pld-button label="Save" small @click="onSave" />
          <pld-button label="New project" small @click="newProject" />
          <pld-modal
            button-label="Open project"
            button-small
            v-model="displayOpen"
            title="Pick an existing project to load"
            @validate="restoreFile(selectedFileToOpen)"
          >
            <div v-for="el in listSaved.list" :key="el">
              <div
                class="hover:bg-gray-500 cursor-pointer px-2 py-1 mb-1 rounded"
                :class="{ 'bg-gray-400': selectedFileToOpen === el.save }"
                @click="selectedFileToOpen = el.save"
              >
                {{ el.name }}
              </div>
            </div>
          </pld-modal>
          <pld-button label="Export" small @click="onExport" color="purple" />
          <input
            type="file"
            ref="fileimport"
            class="hidden"
            @change="onImport"
          />
          <pld-button
            label="Import"
            small
            id="fileopener"
            @click="fileimport.click()"
            color="purple"
          />
        </div>
      </div>
    </div>
    <div class="rounded bg-gray-700 m-5 p-4">
      <h3 class="text-lg text-green-200">Animations</h3>
      <draggable
        v-model="spritesheet.animations"
        group="animations"
        item-key="id"
      >
        <template #item="{ element, index }">
          <animation
            :animation="element"
            :sizex="spritesheet.sizex"
            :sizey="spritesheet.sizey"
            @remove="removeAnimation(index)"
          ></animation>
        </template>
      </draggable>
      <button
        class="rounded-full bg-green-600 px-4 py-1 hover:bg-green-400"
        @click="addAnimation"
      >
        Add animation
      </button>
    </div>
    <div class="rounded bg-gray-700 m-5 p-4">
      <h3 class="text-lg text-green-200">Render</h3>
      <div class="flex">
        <pld-text-field
          label="Width of sprite"
          v-model="spritesheet.sizex"
          type="number"
        />
        <pld-text-field
          label="Height of sprite"
          v-model="spritesheet.sizey"
          type="number"
        />
        <pld-text-field
          label="Number of tiles in width"
          v-model="spritesheet.renderX"
          type="number"
        />
      </div>
      <div>
        <render-sheet
          :animations="spritesheet.animations"
          :sizex="spritesheet.sizex"
          :sizey="spritesheet.sizey"
          :render-x="spritesheet.renderX"
          class="m-auto"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import Animation from "../components/Animation.vue";
import draggable from "vuedraggable";

const spritesheet = reactive({
  sizex: 200,
  sizey: 200,
  renderX: 5,
  animations: [],
  currentId: 0,
  currentSave: null,
  currentName: null,
  updated: false,
  loaded: false,
});

const listSaved = reactive({
  list: [],
});
const editName = ref(null);
const displayOpen = ref(false);
const selectedFileToOpen = ref(null);

const fileimport = ref(null);

watch(
  () => [
    spritesheet.sizex,
    spritesheet.sizey,
    spritesheet.renderX,
    spritesheet.animations,
  ],
  () => {
    if (spritesheet.loaded) {
      spritesheet.loaded = false;
      spritesheet.updated = false;
    } else {
      spritesheet.updated = true;
    }
  },
  { deep: true }
);

function addAnimation() {
  spritesheet.animations.push({ id: spritesheet.currentId++ });
}

function removeAnimation(idx) {
  spritesheet.animations.splice(idx, 1);
}

function newProject() {
  if (spritesheet.updated) {
    // ask if continue
  }
  spritesheet.animations = [];
  spritesheet.currentId = 0;
  spritesheet.currentSave = null;
  spritesheet.currentName = null;
}

async function onSave() {
  if (!spritesheet.currentName) {
    editName.value = true;
  } else {
    if (!spritesheet.currentSave) {
      spritesheet.currentSave = (Math.random() + 1).toString(36).substring(7);
      listSaved.list.push({
        save: spritesheet.currentSave,
        name: spritesheet.currentName,
      });
      localStorage["listSaved"] = JSON.stringify(listSaved.list);
    }
    await saveFile();
    editName.value = false;
  }
}

async function getCurrentDescription() {
  let toSave = {
    name: spritesheet.currentName,
    save: spritesheet.currentSave,
    sizex: spritesheet.sizex,
    sizey: spritesheet.sizey,
    renderX: spritesheet.renderX,
    animations: [],
    currentId: spritesheet.currentId,
  };
  for (let anim of spritesheet.animations) {
    let nanim = JSON.parse(JSON.stringify(anim));
    // convert image to base64 for storage
    if (anim.image) {
      let dataurl = await new Promise((resolve, _) => {
        const img = new Image();
        img.onload = () => {
          let canvas = document.createElement("canvas");
          const ctx = canvas.getContext("2d");
          canvas.height = img.height;
          canvas.width = img.width;
          ctx.drawImage(img, 0, 0);
          const dataURL = canvas.toDataURL();
          canvas = null;
          resolve(dataURL);
        };
        img.src = anim.image;
      });
      nanim.image = dataurl;
    }
    toSave.animations.push(nanim);
  }
  return toSave;
}

async function onImport(e) {
  if (e.target.files && e.target.files[0]) {
    const reader = new FileReader();
    reader.onload = function (ev) {
      const obj = JSON.parse(ev.target.result);
      loadData(obj);
    };
    reader.readAsText(e.target.files[0]);
  }
}

async function onExport() {
  let toSave = await getCurrentDescription();
  const blob = new Blob([JSON.stringify(toSave)], { type: "text/json" });
  const link = document.createElement("a");
  link.href = window.URL.createObjectURL(blob);
  let dat = new Date();
  link.download = `${dat.getFullYear()}-${("00" + dat.getMonth()).substr(
    -2
  )}-${("00" + dat.getDate()).substr(-2)}_${("00" + dat.getHours()).substr(
    -2
  )}:${("00" + dat.getMinutes()).substr(-2)}:${("00" + dat.getSeconds()).substr(
    -2
  )}_spritesheet_${toSave.name}.json`;
  document.body.appendChild(link);
  link.click();
  document.body.removeChild(link);
}

async function saveFile() {
  let toSave = await getCurrentDescription();
  localStorage[spritesheet.currentSave || "__default__"] =
    JSON.stringify(toSave);
  spritesheet.updated = false;
}

function restoreFile(fileid) {
  let fcontent = localStorage[fileid];
  if (fcontent) {
    let dataToLoad = JSON.parse(fcontent);
    loadData(dataToLoad);
  }
}

function loadData(dataToLoad) {
  spritesheet.currentName = dataToLoad.name;
  spritesheet.currentSave = dataToLoad.save;
  spritesheet.sizex = dataToLoad.sizex;
  spritesheet.sizey = dataToLoad.sizey;
  spritesheet.renderX = dataToLoad.renderX;
  spritesheet.animations = dataToLoad.animations;
  spritesheet.currentId = dataToLoad.currentId;
  spritesheet.loaded = true;
}

onMounted(() => {
  if (localStorage["listSaved"]) {
    listSaved.list = JSON.parse(localStorage["listSaved"]);
  }
  restoreFile("__default__");
});
</script>

<style></style>
