<template>
  <button :class="{ [classes]: true, 'py-1': small, 'py-2': !small }" :id="id">
    {{ label }}
  </button>
</template>

<script setup>
const props = defineProps({
  color: {
    type: String,
    default: "green",
  },
  label: {
    type: String,
  },
  small: {
    type: Boolean,
    default: false,
  },
  id: String,
});

const classes = computed(() => {
  return `text-sm
            rounded-full
            bg-${props.color}-600
            px-4
            ml-2
            hover:bg-${props.color}-400
            text-white`;
});
</script>

<style></style>
