<template>
  <div class="m-2">
    <label :for="int_id" v-if="label" class="text-sm">{{ label }}</label>
    <div
      class="transparency-grid"
      :style="{
        width: '120px',
        height: '120px',
        cursor: 'pointer',
      }"
      @click="this.$refs.file.click()"
    >
      <div
        v-if="modelValue"
        :style="{
          width: '120px',
          height: '120px',
          'background-image': `url(${modelValue})`,
          'background-size': 'contain',
          'background-repeat': 'no-repeat',
          'background-position': 'center center',
        }"
      ></div>
    </div>

    <input
      @input="onInput"
      :id="int_id"
      type="file"
      ref="file"
      class="
        p-1
        px-2
        rounded
        border-gray-300 border-2
        text-gray-900
        block
        hidden
      "
    />
  </div>
</template>

<script setup>
const props = defineProps({
  modelValue: String | Object,
  label: String,
});

const emit = defineEmits(["update:modelValue"]);

const int_id = ref((Math.random() + 1).toString(36).substring(7));

function onInput(e) {
  if (e.target.files && e.target.files[0]) {
    let url = URL.createObjectURL(e.target.files[0]);
    emit("update:modelValue", url);
  }
}
</script>

<style></style>
