<template>
  <div class="inline">
    <pld-button
      @click="emit('update:modelValue', true)"
      :label="buttonLabel"
      :small="buttonSmall"
      v-if="!noButton"
    />

    <teleport to="body">
      <div v-if="modelValue" class="fixed top-0 w-full h-full">
        <div class="absolute top-0 w-full h-full bg-gray-900 opacity-50"></div>
        <div
          class="absolute top-0 w-full h-full"
          @click="!persistent && emit('update:modelValue', false)"
        >
          <div class="flex align-items justify-center h-full">
            <div
              class="self-center rounded bg-gray-600 border-2 border-white"
              @click.stop="() => {}"
            >
              <div class="bg-gray-900 text-green p-4 rounded" v-if="title">
                <h1 class="text-lg text-center">{{ title }}</h1>
              </div>
              <div class="p-4">
                <slot></slot>
              </div>
              <div class="p-4 text-center" v-if="!noActions">
                <pld-button
                  color="gray"
                  @click="emit('update:modelValue', false)"
                  label="Cancel"
                />
                <pld-button
                  v-if="!noValidateButton"
                  color="green"
                  @click="validate"
                  :label="validateButtonLabel || 'Validate'"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </teleport>
  </div>
</template>
<script setup>
const props = defineProps({
  noButton: Boolean,
  buttonLabel: String,
  buttonSmall: Boolean,
  title: String,
  modelValue: Boolean,
  noActions: Boolean,
  noValidateButton: Boolean,
  validateButtonLabel: String,
  persistent: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits(["update:modelValue", "validate"]);

function validate() {
  emit("validate");
  emit("update:modelValue", false);
}
</script>
