<template>
  <div class="m-2">
    <label :for="int_id" v-if="label" class="text-sm">{{ label }}</label>
    <select
      :value="modelValue"
      @change="onChange"
      :id="int_id"
      class="p-1 px-2 rounded border-gray-300 border-2 text-gray-900 block"
    >
      <option
        v-for="item in items"
        :key="item[itemValue]"
        :value="item[itemValue]"
      >
        {{ item[itemText] }}
      </option>
    </select>
  </div>
</template>

<script setup>
const props = defineProps({
  modelValue: String,
  label: String,
  items: Array,
  itemText: {
    type: String,
    default: "text",
  },
  itemValue: {
    type: String,
    default: "value",
  },
});

const emit = defineEmits(["update:modelValue"]);

const int_id = ref((Math.random() + 1).toString(36).substring(7));

function onChange(e) {
  emit("update:modelValue", e.target && e.target.value);
}
</script>

<style></style>
