<template>
  <div :class="{ 'm-0 mb-1': small, 'm-2': !small }" class="text-left">
    <label :for="int_id" v-if="label" class="text-sm">{{ label }}</label>
    <input
      :value="modelValue"
      @input="onInput"
      :id="int_id"
      :type="type"
      class="rounded border-gray-300 border-2 text-gray-900 block"
      :class="{ 'p-0 px-1 w-20': small, 'p-1 px-2': !small }"
    />
  </div>
</template>

<script setup>
const props = defineProps({
  modelValue: String | Number,
  label: String,
  type: {
    type: String,
    default: "text",
  },
  small: Boolean,
});

const emit = defineEmits(["update:modelValue"]);

const int_id = ref((Math.random() + 1).toString(36).substring(7));

function onInput(e) {
  emit(
    "update:modelValue",
    props.type === "number"
      ? Number(e.target && e.target.value)
      : e.target && e.target.value
  );
}
</script>

<style></style>
