<template>
  <div class="flex">
    <pld-image
      class="mr-4"
      v-model="animation.image"
      label="Image to import"
    ></pld-image>
  </div>
</template>

<script setup>
import * as AnimationHelper from "../../helpers/AnimationHelper";

const props = defineProps({
  animation: Object,
});
</script>

<style></style>
