<template>
  <div class="flex">
    <pld-image v-model="animation.image" label="Image to rotate"></pld-image>
    <pld-text-field
      label="Number of sprites"
      type="number"
      v-model="animation.nbsprites"
    />
    <pld-text-field
      label="From (angle start)"
      type="number"
      v-model="animation.from"
    />
    <pld-text-field
      label="To (angle end)"
      type="number"
      v-model="animation.to"
    />
  </div>
</template>

<script setup>
const props = defineProps({
  animation: Object,
});

if (!props.animation.nbsprites) props.animation.nbsprites = 10;
if (!props.animation.from) props.animation.from = -45;
if (!props.animation.to) props.animation.to = 45;
</script>

<style></style>
