<template>
  <div class="flex">
    <pld-image
      class="mr-4"
      v-model="animation.image"
      label="Image of the existing animation"
    ></pld-image>
    <div class="mr-4">
      <pld-text-field
        label="Number of sprites in width"
        type="number"
        class="block"
        v-model="animation.nbX"
      />
      <pld-text-field
        label="Number of sprites in height"
        type="number"
        class="block"
        v-model="animation.nbY"
      />
    </div>
    <div class="mr-4">
      List of sprites ({{ nbAvailable }}), use x and y fields to nudge image
      left, right, top or down
      <button
        class="text-sm rounded-full bg-green-600 px-4 py-1 hover:bg-green-400"
        @click="unselectAll"
      >
        Unselect all
      </button>
      <button
        class="text-sm rounded-full bg-green-600 px-4 py-1 hover:bg-green-400"
        @click="selectAll"
      >
        Select all
      </button>
      <div class="flex flex-wrap">
        <template v-for="j in parseInt(animation.nbY)">
          <template v-for="i in parseInt(animation.nbX)" :key="i + '-' + j">
            <div class="flex flex-col text-center mr-1 mb-2">
              <div
                :style="{ width: '70px', height: '70px' }"
                class="
                  flex
                  justify-center
                  align-items
                  transparency-grid
                  cursor-pointer
                  mx-auto
                "
                :class="{ 'opacity-30': !isSelected(i, j) }"
                @click="select(i, j)"
              >
                <div
                  :style="{
                    width: '70px',
                    height: '70px',
                    'background-image': `url(${animation.image})`,
                    'background-position': `${
                      -(i - 1) * sizeX * proportion
                    }px ${-(j - 1) * sizeY * proportion}px`,
                    'background-size':
                      this.image?.width * proportion +
                      'px ' +
                      this.image?.height * proportion +
                      'px',
                  }"
                  class="self-center"
                ></div>
              </div>
              <pld-text-field
                small
                label="x"
                v-model="animation.sprites[i + '-' + j + '-x']"
                type="number"
              />
              <pld-text-field
                small
                label="y"
                v-model="animation.sprites[i + '-' + j + '-y']"
                type="number"
              />
            </div>
          </template>
        </template>
      </div>
    </div>
  </div>
</template>

<script setup>
import * as AnimationHelper from "../../helpers/AnimationHelper";

const props = defineProps({
  animation: Object,
});

let image = ref(null);

watch(
  () => [props.animation.image],
  async (n) => {
    image.value = await AnimationHelper.getImage(n);
  },

  { immediate: true }
);

if (!props.animation.nbX) props.animation.nbX = 5;
if (!props.animation.nbY) props.animation.nbY = 1;
if (!props.animation.sprites) props.animation.sprites = {};
if (!props.animation.selected) props.animation.selected = [];

const sizeX = computed(() => {
  return props.animation.nbX > 0
    ? (image.value?.width || 0) / props.animation.nbX
    : 0;
});
const sizeY = computed(() => {
  return props.animation.nbY > 0
    ? (image.value?.height || 0) / props.animation.nbY
    : 0;
});
const nbAvailable = computed(() => {
  return props.animation.nbX * props.animation.nbY;
});
const proportion = computed(() => {
  return sizeX.value > sizeY.value ? 70 / sizeX.value : 70 / sizeY.value;
});

function isSelected(i, j) {
  return Boolean(props.animation.selected.find((s) => s.i === i && s.j === j));
}

function unselectAll() {
  props.animation.selected = [];
}

function sortSelected() {
  props.animation.selected.sort(
    (a, b) => a.j * props.animation.nbX + a.i - b.j * props.animation.nbX + b.i
  );
}

function select(i, j) {
  let existIdx = props.animation.selected.findIndex(
    (s) => s.i === i && s.j === j
  );
  if (existIdx === -1) {
    props.animation.selected.push({ i, j });
  } else {
    props.animation.selected.splice(existIdx, 1);
  }
  sortSelected();
}

function selectAll() {
  props.animation.selected = [];
  for (let j = 1; j <= props.animation.nbY; j++) {
    for (let i = 1; i <= props.animation.nbX; i++) {
      props.animation.selected.push({ i, j });
    }
  }
  sortSelected();
}
</script>

<style></style>
